[submodule "depends/waitress"]
	path = depends/waitress
	url = https://github.com/Pylons/waitress
[submodule "depends/flask_wtf"]
	path = depends/flask_wtf
	url = https://github.com/lepture/flask-wtf
[submodule "depends/flask"]
	path = depends/flask
	url = https://github.com/mitsuhiko/flask
