{% extends "base.html" %}
{% block body %}
<script src="/static/schedule_loader.js"></script>
<h2>Load Event Schedule:</h2>
<p>Go to <a href='http://frc-events.usfirst.org/' target='_blank'>http://frc-events.usfirst.org/</a> to find a qualification match schedule</p>
<div class='row'>
	<div class='col-md-2'>
		<label for='source'>Schedule URL</label>
	</div>
	<div class='col-md-9'>
		<input type='text' placeholder='Schedule URL' id='source' style='width:62%' class='form-control'/>
	</div>
</div>
<div class='row'>
	<div class='col-md-2'>
		<label for='filename'>Event Name</label>
	</div>
	<div class='col-md-9'>
		<input type='text' placeholder='Event name' id='filename' style='width:62%' class='form-control'/>
	</div>
</div>
<a class="btn btn-default" id="fetch">Fetch!</a>
</br>
<div id='result' class="alert hidden" style='width:50%'>
</div>
{% endblock %}